	<%= stylesheet_link_tag "jplayer.blue.monday", :media => "all" %>

  <script type="text/javascript">
  	function cut_time(e) {
  		if (!$("#jquery_jplayer_1").data("jPlayer").status.paused) {
	    	
	    	if (e.which == 0){
	    	
		    	current_time = $("#jquery_jplayer_1").data("jPlayer").status.currentTime;
		    	Project.segments.push(current_time);
		    	
		    	$("#transcription").append("<div class='well well-large'><a href='javascript:play_segment(" + current_time + ");'>Play at " + current_time + "</a><br><br><textarea cols=2000 rows='5'></textarea><div class='btn-group'><button class='btn'>Action</button><button class='btn dropdown-toggle' data-toggle='dropdown'><span class='caret'></span></button><ul class='dropdown-menu'><li>test</li></ul></div></div>");
			}
	    }
  		
  		
  	}
  
  
  
    function play_segment(start_time) {
    	$("#jquery_jplayer_1").jPlayer("play", start_time);
    	
    	// check to see what the range of audio would be...
    	temp_sorted = Project.segments.sort(function(a,b) { return parseFloat(a) - parseFloat(b) } )
    	if (temp_sorted.indexOf(start_time) < (temp_sorted.length - 1)) {
    		end_time = temp_sorted[temp_sorted.indexOf(start_time) + 1];
    		
    		
    		$("#jquery_jplayer_1").bind($.jPlayer.event.timeupdate, function(event) { 
			    if(event.jPlayer.status.currentTime > end_time) { 
			        $(this).jPlayer("pause");
			        // need to unbind so as to be able to continue to play...
			        $("#jquery_jplayer_1").unbind();
			    } 
			}); 
			    		
    	}
    	
    	 
    }
    var Project = {};
    $(document).ready(function(){
    	Project.segments = [];
    	
    	
    	$.jPlayer.timeFormat.showHour = true;
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            //m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
            //oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
            m4a: "<%= @audio_file.url %>",
            mp3: "<%= @audio_file.url %>"
           
          });
          
        },
        swfPath: "/js",
        supplied: "m4a, oga"
      });
      
      
      
    });
	    
	$(document).keypress(function (e) {
	    cut_time(e);
	});
    
  </script>

<h2>File: <%= @audio_file.name%></h2>

<table class="table table-bordered">
	<tr><td>Length:</td>
		<td><%= @audio_file.length.strftime("%H:%M:%S") %></td>
	</tr>
	<tr><td>Created:</td>
		<td><%= @audio_file.created_at.strftime("%m/%d/%Y")  %></td>
	</tr>
</table>


<div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>
        </div>
      </div>
      <div class="jp-title">
        <ul>
          <li>Bubble</li>
        </ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>

<div id="transcription">
	

	
</div>

